.chevron {
  width:15px;
  text-align:center;
  font-size:8px;
}

.open {
  composes:chevron;
  transition:transform 0.3s;
  transform:rotate(90deg);
}

.closed {
  composes:chevron;
  transition:transform 0.3s;
  transform:rotate(0deg);
}
