.container {
  border-radius:50%;
  box-shadow:0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24)
}

.button {
  border-radius:50%;
}

.normal {
  padding:10px 15px;
}

.small {
  padding:5px 9px;
}
