.link, .link:visited {
  display:block;
}

.link:hover, .link:active, .link:focus {
  text-decoration:none;
}


.light, .light:visited {
  color:#333;
}

.light:hover, .light:active, .light:focus {
  background-color:#F5F5F5;
}

.dark, .dark:visited {
  color:rgba(163,175,183,.9);
}

.dark:hover, .dark:active, .dark:focus {
  color:rgba(255,255,255,.8);
  background-color:#364248;
}


.li {
  margin:0;
  padding:0;
}

.icon {
  width:20px;
  display:inline-block;
}
